@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.contacts-page {
    width: 100%;

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: $m-padding-sides;
    width: 100%;
    gap: 2rem;
    margin-top: -5rem;

    @include tablet-breakpoint {
        align-items: center;
        padding: 1.5rem 2rem;
        margin-top: -4rem;
    }

    @include desktop-breakpoint {
      padding: 2rem 0 0 0;
      @include desktop-margins;
    }

    
  }

  &__header {
    align-items: center;
    justify-content: center;
    text-align: center;

    @include tablet-breakpoint {
        max-width: 872px;
        padding: $t-padding-sides 2rem;
    }

    &__tagline {
        @include H2-pageheader-text-style;
        padding-bottom: $min-spacing;
    }
    
    &__title {
        @include H1-pageheader-text-style;
        color: $black-header;
        padding-bottom: 2rem;
    }


    &__about {
        padding: 1rem 0;
        @include P1-pageheader-text-style;
        color: $blue-text;
    }
  }
}

.footer-logo {
        margin-left: -63rem;
        margin-top: -47rem;
}