@use "./variables" as *;
@use "./typography" as *;

@mixin tablet-breakpoint {
  @media (min-width: $tablet-breakpoint) {
    transition: all 0.4s ease;
    @content;
  }
}

@mixin desktop-breakpoint {
  @media (min-width: $desktop-breakpoint) {
    transition: all 0.4s ease;
    @content;
  }
}

@mixin desktop-margins {
  max-width: $desktop-width;
  margin-right: auto;
  margin-left: auto;
}

@mixin box($width, $height) {
  width: $width;
  height: $height;
}

@mixin tablet-padding-sides {
  padding-right: $t-padding-sides;
  padding-left: $t-padding-sides;
  @include desktop-breakpoint() {
    padding-right: $d-padding-sides;
    padding-left: $d-padding-sides;
  }
}

@mixin component-overlay {
  margin-top: -4rem; //88px-24px=64px above top of footer per figma
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: calc(100% - 2 * $m-padding-sides);
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  z-index: 10;
  border-radius: 0.3125rem;
  box-shadow: 0rem 0.125rem 0.3125rem 0rem rgba(19, 24, 44, 0.1);
  @include tablet-breakpoint() {
    margin-top: -5.875rem; //121px-27px=94px above top of footer per figma
    width: calc(100% - 2 * $t-padding-sides);
  }
}

@mixin component-overlay-short {
  margin-top: -4rem; //88px-24px=64px above top of footer per figma
  margin-bottom: 5rem;
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  z-index: 10;
  border-radius: 0.3125rem;
  box-shadow: 0rem 0.125rem 0.3125rem 0rem rgba(19, 24, 44, 0.1);
  @include tablet-breakpoint() {
    margin-top: -5.875rem; //121px-27px=94px above top of footer per figma
  }
}

@mixin component-header {
  height: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  @include tablet-breakpoint {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

// TEXT STYLES FOR MOBILE, TABLET AND DESKTOP
@mixin H1-pageheader-text-style {
    font-family: "Bebas Neue", sans-serif;
    font-size: 4.69rem; //75.06px
    line-height: 3.75rem; //60.05px
    font-weight: 400;
    letter-spacing: $letter-spacing;
    color: $white;
    text-transform: uppercase;
    // Apply the drop shadow using the variable
    text-shadow: 0 0.18rem 3.3675rem rgba(red($white), green($white), blue($white), 0.5); // 0px 2.89px 53.88px 50% opacity
    
    @include tablet-breakpoint() {
        font-size: 8.4rem; //134.39px
        line-height: 6.72rem; //107.51px
        // Apply the drop shadow using the variable
        text-shadow: 0 0.25rem 4.66rem rgba(red($white), green($white), blue($white), 0.5); // 0px 4px 74.6px 50% opacity
        }
  }


//TAGLINE

@mixin H2-pageheader-text-style {
    font-size: 0.785rem; //12.56px
    line-height: 1.78rem; //28.5px
    font-weight: 600;
    letter-spacing: 0.6em;
    color: $blue-header;
    text-transform: uppercase;
    
    @include tablet-breakpoint() {
        font-size: 1rem; //16px
        line-height: 2.27rem; //36.32px
        font-weight: 500;
        }
  }

//For About Us Values
  @mixin H3-pageheader-text-style {
    font-size: 0.8rem; //14.05px 0.878rem made smaller to fit on 2 lines for iPhone SE
    line-height: 1.1rem; //17.56px
    font-weight: 500;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    
    @include tablet-breakpoint() {
        font-size: 1.09rem; //17.39px
        line-height: 1.36rem; //21.74px
        }
  }  

// For Nav Bar
@mixin H4-text-style {
    font-size: 0.84rem; //13.39px
    line-height: 1.05rem; //16.74px
    font-weight: 700;
    letter-spacing: 0.1em;
    color: $white-nav;
  }

// For Nav Header Modal
@mixin H5-text-style {
    font-size: 1.52rem; //24.39px
    line-height: 1.91rem; //30.49px
    font-weight: 700;
    letter-spacing: 0.1em;
    color: $white-nav;
  }


@mixin H6-pageheader-text-style {
    font-family: "Bebas Neue", sans-serif;
    font-size: 6.62rem; //105.89px
    line-height: 5.29rem; //84.71px
    font-weight: 400;
    color: $white;
    text-transform: uppercase;
    text-shadow: 0 2.33px 43.4px rgba(255, 255, 255, 0.5);
    
    @include tablet-breakpoint() {
        font-size: 10rem; //160.31px
        line-height: 8.02rem; //128.25px
        text-shadow: 0 4px 74.6px rgba(255, 255, 255, 0.5);
        }
  }

@mixin H7-pageheader-text-style {
    font-family: "Bebas Neue", sans-serif;
    font-size: 5.83rem; //93.27px
    line-height: 4.66rem; //74.62px
    font-weight: 400;
    color: $white;
    text-transform: uppercase;
    text-shadow: 0 2.33px 43.4px rgba(255, 255, 255, 0.5);
    
    @include tablet-breakpoint() {
        font-size: 10rem; //160.31px
        line-height: 8.02rem; //128.25px
        text-shadow: 0 4px 74.6px rgba(255, 255, 255, 0.5);
        }
  }


@mixin H8-pageheader-text-style {
    font-family: "Bebas Neue", sans-serif;
    font-size: 3.69rem; //59.06px
    line-height: 2.95rem; //47.25px
    font-weight: 400;
    color: $black-header;
    text-transform: uppercase;
    text-shadow: 0 2.89px 53.88px rgba(255, 255, 255, 0.5);
    
    @include tablet-breakpoint() {
        font-size: 5.77rem; //92.39px
        line-height: 4.62rem; //73.91px
        text-shadow: 0 4px 74.6px rgba(255, 255, 255, 0.5);
        }
  }

// For About Us text
@mixin P1-pageheader-text-style {
    font-size: 1.125rem; //18px
    line-height: 1.845rem; //29.52px
    font-weight: 400;
    letter-spacing: 0.02em;
    color: rgba(red($blue-text), green($blue-text), blue($blue-text), 0.9);
    
    @include tablet-breakpoint() {
        font-size: 1.25rem; //20px
        line-height: 2.05rem; //32.8px
        }
  }


// For About Us Values text
@mixin P2-pageheader-text-style {
    font-size: 0.66rem; //10.51px
    line-height: 1rem; //15.76px
    font-weight: 400;
    letter-spacing: 0.02em;
    color: $white;
    
    @include tablet-breakpoint() {
        font-size: 1rem; //16px
        line-height: 1.5rem; //24px
        }
  }

// For Buttons text
@mixin P3-buttons-text-style {
    font-size: 1.06rem; //16.96px
    line-height: 1.59rem; //25.45px
    font-weight: 700;
    letter-spacing: 0.02em;
    color: $white;
    
    @include tablet-breakpoint() {
        font-size: 1.19rem; //19px
        line-height: 1.78rem; //28.5px
        }
  }


  // For Nav Header Modal -- Footer
  @mixin P5-text-style {
      font-size: 0.611rem; //9.78px
      line-height: 0.76rem; //12.22px
      font-weight: 600;
      letter-spacing: 0.3em;
      color: $white;
    }

// For Footer-logo component
  @mixin P6-text-style {
    font-size: 0.79rem; //12.65px
    line-height: 1rem; //15.81px
    font-weight: 600;
    letter-spacing: 0.3em;
    color: #000000;
  }


  // For Hero text
@mixin P7-text-style {
    font-size: 1.1875rem; //19px
    line-height: 2.1rem; //33.63px
    font-weight: 300;
    letter-spacing: 0.02em;
    color: $white;

  }

// For Footer component
@mixin P8-text-style {
    font-size: 0.79rem; //12px
    line-height: 1rem; //18px
    font-weight: 600;
    letter-spacing: 0.2em;
    color: rgba(red($white), green($white), blue($white), 0.6);
  }

// For Careers page
@mixin P9-text-style {
    font-family: "Oxanium", sans-serif;
    font-size: 1.25rem; //20px
    line-height: 2.05rem; //32.8px
    font-weight: 400;
    letter-spacing: 0.02em;
    color: rgba(red($blue-text), green($blue-text), blue($blue-text), 0.9);
  }


//BUTTONS STYLING
@mixin button-styling {
    background-color: $blue-button;
    padding: 1.25rem;
    border: none;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 0.22rem 3.34rem 0 rgba(red(#8B70A680), green(#8B70A680), blue(#8B70A680), 0.5); //0 3.57px 53.39px 0 #8B70A680 50%
    text-decoration: none;
    text-transform: uppercase;

    @include tablet-breakpoint(){
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

//DIAGONAL LINE
@mixin diagonal-line($width, $height, $color, $opacity) {
    content: '';
    position: absolute;
    width: #{$width}; // Width of the line
    height: #{$height}; // Height of the line
    background-color: rgba(red($color), green($color), blue($color), $opacity); // #HEX with X% opacity
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(135deg);
    }

