@use "./variables" as *;
@use "./typography" as *;

@mixin tablet-breakpoint {
  @media (min-width: $tablet-breakpoint) {
    transition: all 0.4s ease;
    @content;
  }
}

@mixin desktop-breakpoint {
  @media (min-width: $desktop-breakpoint) {
    transition: all 0.4s ease;
    @content;
  }
}

@mixin desktop-margins {
  max-width: $desktop-width;
  margin-right: auto;
  margin-left: auto;
}

@mixin box($width, $height) {
  width: $width;
  height: $height;
}

@mixin tablet-padding-sides {
  padding-right: $t-padding-sides;
  padding-left: $t-padding-sides;
  @include desktop-breakpoint() {
    padding-right: $d-padding-sides;
    padding-left: $d-padding-sides;
  }
}

@mixin component-overlay {
  margin-top: -4rem; //88px-24px=64px above top of footer per figma
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: calc(100% - 2 * $m-padding-sides);
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  z-index: 10;
  border-radius: 0.3125rem;
  box-shadow: 0rem 0.125rem 0.3125rem 0rem rgba(19, 24, 44, 0.1);
  @include tablet-breakpoint() {
    margin-top: -5.875rem; //121px-27px=94px above top of footer per figma
    width: calc(100% - 2 * $t-padding-sides);
  }
}

@mixin component-overlay-short {
  margin-top: -4rem; //88px-24px=64px above top of footer per figma
  margin-bottom: 5rem;
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  z-index: 10;
  border-radius: 0.3125rem;
  box-shadow: 0rem 0.125rem 0.3125rem 0rem rgba(19, 24, 44, 0.1);
  @include tablet-breakpoint() {
    margin-top: -5.875rem; //121px-27px=94px above top of footer per figma
  }
}

@mixin component-header {
  height: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  @include tablet-breakpoint {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

// TEXT STYLES FOR TABLET AND DESKTOP
@mixin H1-pageheader-text-style {
    font-family: "Bebas Neue", sans-serif;
    font-size: 4.69rem; //75.06px
    line-height: 3.75rem; //60.05px
    font-weight: 400;
    letter-spacing: $letter-spacing;
    color: $blue-header;
    // Apply the drop shadow using the variable
    box-shadow: 0 0.18rem 3.3675rem rgba(red($white), green($white), blue($white), 0.5); // 0px 2.89px 53.88px 50% opacity
    
    @include tablet-breakpoint() {
        font-size: 8.4rem; //134.39px
        line-height: 6.72rem; //107.51px
        font-weight: 400;
        // Apply the drop shadow using the variable
        box-shadow: 0 0.25rem 4.66rem rgba(red($white), green($white), blue($white), 0.5); // 0px 4px 74.6px 50% opacity
        }
  }


// For Nav Bar
@mixin H4-text-style {
    font-size: 0.84rem; //13.39px
    line-height: 1.05rem; //16.74px
    font-weight: 700;
    letter-spacing: 0.1em;
    color: $white-nav;
  }

// For Nav Header Modal
@mixin H5-text-style {
    font-size: 1.52rem; //24.39px
    line-height: 1.91rem; //30.49px
    font-weight: 700;
    letter-spacing: 0.1em;
    color: $white-nav;
  }

// For Nav Header Modal -- Footer
  @mixin P5-text-style {
      font-size: 0.611rem; //9.78px
      line-height: 0.76rem; //12.22px
      font-weight: 600;
      letter-spacing: 0.3em;
      color: $white;
    }


@mixin diagonal-line($width, $height, $color, $opacity) {
    content: '';
    position: absolute;
    width: #{$width}; // Width of the line
    height: #{$height}; // Height of the line
    background-color: rgba(red($color), green($color), blue($color), $opacity); // #HEX with X% opacity
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(135deg);
    }

