@font-face {
    font-family: "Oxanium";
    src: url("/src/assets/fonts/Oxanium-Light-300.ttf") format("TrueType");
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Oxanium";
    src: url("/src/assets/fonts/Oxanium-Regular-400.ttf") format("TrueType");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Oxanium";
    src: url("/src/assets/fonts/Oxanium-Medium-500.ttf") format("TrueType");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Oxanium";
    src: url("/src/assets/fonts/Oxanium-SemiBold-600.ttf") format("TrueType");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "Oxanium";
    src: url("/src/assets/fonts/Oxanium-Bold-700.ttf") format("TrueType");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Oxanium";
    src: url("/src/assets/fonts/Oxanium-ExtraBold-800.ttf") format("TrueType");
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: "Bebas Neue";
    src: url("/src/assets/fonts/BebasNeue-Regular-400.ttf") format("TrueType");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Sulphur Point";
    src: url("/src/assets/fonts/SulphurPoint-Regular-400.ttf") format("TrueType");
    font-weight: 400;
    font-style: normal;
  }
