@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.team-bios {
    width: 100%;
    

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: $m-padding-sides;
    width: 100%;
    gap: 2rem;
    margin-top: -1rem;
    padding-bottom: 10rem;

    @include tablet-breakpoint {
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 2rem 6rem;
        margin-top: -4rem;
        
    }

    @include desktop-breakpoint {
      padding: 2rem 0 2rem 0;
      @include desktop-margins;
      width: 90%;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}
}



.team-bio {
    background: $black-team;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20rem; //320px
    color: #FFFFFF;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    padding-bottom: 2.5rem;

    &:hover {
        transform: translateY(-5px); // Slightly lift the box on hover
        filter: brightness(1.4); // Brighten the entire content on hover
    }

    &__image {
        width: 100%;
        height: 11.25rem;
        object-fit: cover;

    }

    &__info {
        margin-top: -3rem;
        padding: 1rem;
    }

    &__name {
        @include H9-pageheader-text-style;
        margin: 0;
    }

    &__surname {
        font-weight: normal;
        text-transform: uppercase;
    }


    &__role {
        font-size: 1rem;
        color: #15191C;
        background: #FFFFFF;
        padding: 1rem 1rem;
        position: absolute; /* Position absolutely within the parent .team-bio */
        bottom: -10px; /* Adjust this value to position the box */
        left: -10px; /* Adjust this value to position the box */
        margin: 0;
        z-index: 20;
        clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%); // Adjust the percentage values to create the desired slant

        & p {
            margin: 0;
        }
    }

    &__box{
        display: flex;
        flex-direction: row;
    }

    &__linkedin {
        position: absolute;
        bottom: 0.5rem;
        right: 0.75rem;
        z-index: 30;

        img {
            width: 1.5rem;
            height: 1.5rem;

            &:hover{
                width: 2rem;
                height: 2rem;
            }
        }
    }

    &__bio {
        font-size: 0.875rem;
        color: #BBBBBB;
        margin: 0;
    }
}

.footer-logo {
        margin-left: -63rem;
        margin-top: -47rem;
}