@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.footer-logo {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  &__line {
    width: 1px;
    height: 30rem; // 480px
    background-color: rgba(red($gray-line-modal), green($gray-line-modal), blue($gray-line-modal), 0.3);
  }

  &__text {
    writing-mode: vertical-rl;
    @include P6-text-style;
    padding: $min-spacing 0;
  }

  &__logo {
    width: 3rem; // 48.18px
    height: 4rem; // 64.01px
  }
}
