@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.job-details-page {
    width: 100%;

    &__background {
        background-size: cover;
        width: 100%;
        height: 33rem;
        position: absolute;
        top: 0;
        left: 0;
        clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%); // Adjust the percentage values to create the desired slant
        filter: brightness(0.6); // Darken the background image
        z-index: -200;
        pointer-events: none; // Prevent background from intercepting clicks
  
        @include tablet-breakpoint {
          transition: all 0.8s ease;
          height: 42rem;
          clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%); // Adjust the percentage values to create the desired slant   
        
          @media (min-width: 955px) {
            transition: all 0.4s ease;
            height: 33rem;
          }

        @include desktop-breakpoint{
          height: 30rem;
          transition: all 0.8s ease;
        }
        }
      }

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: $m-padding-sides;
    width: 100%;
    gap: 2rem;
    margin-top: 2rem;

    @include tablet-breakpoint {
        align-items: center;
        padding: 1.5rem 2rem;
    }

    @include desktop-breakpoint {
      padding: 2rem 0 0 0;
      @include desktop-margins;
      margin-top: 1rem;
    }
  }


  &__subheader{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: left;
    gap: 3rem;
    margin-top: 0rem;

    @include tablet-breakpoint {
        padding: 0 8rem;
    }

    @include desktop-breakpoint{
        // margin-top: -5rem;
    }
    
    &__title{
        @include H8-pageheader-text-style;
        padding-bottom: 1rem;
    }

    &__text{
        @include P9-text-style;
    }

    &__list {
      @include P9-text-style;
      list-style-type: disc;
      padding-left: 1.5rem;
      margin-top: 1rem;
      list-style: none;//remove default bullet points

      & > li {
        margin-bottom: 1rem;
        position: relative;
        padding-left: 1.5rem; /* Add space for custom bullet */

        &::before {
            content: '\25C6'; /* Unicode for black diamond */
            position: absolute;
            left: 0;
            color: $blue-text; 
        }
    }
  }
    &__paragraph{
      @include P9-text-style;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }


  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem 0;
    @include P3-buttons-text-style;

    &__button {
       @include button-styling;

      &:hover {
        background-color: $blue-button-hover; 
      }

    }

    &__icon {
        margin-left: 0.5rem;
        transition: margin-left 0.3s ease;
      }
  }
}

.footer-logo {
        margin-left: -69rem;
        margin-top: -47rem;
}