@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.careers-page {
    width: 100%;

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: $m-padding-sides;
    width: 100%;
    // height: 100vh;
    gap: 2rem;
    margin-top: -1rem;

    @include tablet-breakpoint {
        align-items: center;
        padding: 1.5rem 2rem;
        margin-top: -4rem;
    }

    @include desktop-breakpoint {
      padding: 2rem 0 0 0;
      @include desktop-margins;
    }

    
  }

  &__header {
    align-items: center;
    justify-content: center;
    text-align: center;

    @include tablet-breakpoint {
        max-width: 872px;
        padding: $t-padding-sides 2rem;
    }

    &__tagline {
        @include H2-pageheader-text-style;
        padding-bottom: $min-spacing;
    }
    
    &__title {
        @include H1-pageheader-text-style;
        color: $black-header;
    }


    &__about {
        padding: 1rem 0;
        @include P1-pageheader-text-style;
        color: $blue-text;
    }
  }

  &__subheader{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
    gap: 3rem;

    @include tablet-breakpoint {
        flex-direction: row;
        // justify-content: flex-start;
        align-items: flex-start;
    }
    
    &__title{
        @include H8-pageheader-text-style;
        padding-bottom: 1rem;
    }

    &__text{
        @include P9-text-style;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center; // Center align items horizontally
    // justify-content: center; // Center align items vertically
    // gap: 1rem;

    @include tablet-breakpoint {
        max-width: 872px;
    }

    &__wrapper{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    &__square {
        background-color: $black-background;
        color: $white;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1.5rem 1rem 1.5rem 1rem; // Add padding to center content within the square
        gap: 1rem;
        width: calc(50% - 0.5rem);

        &-2213--tablet, &-3122--tablet, &-3223--tablet {
            display: none;
            @include tablet-breakpoint {
                display: flex;
            }
        }

        &-2213--mobile, &-3223--mobile, &-3122--mobile{
            @include tablet-breakpoint {
                display: none;
            }
        }
    }

    &__icon {
        text-align: center;
        height: 6.46rem; //103.33px
        width: 6.46rem;
    }

    &__title-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;//center vertically
        @include H3-pageheader-text-style;

    }

    &__bracket {
        opacity: 20%;
        font-size: 2rem;
        font-weight: 300;

        &-left{
            padding-left: 1.5rem;
        }

        &-right{
            padding-right: 1.5rem;
        }
    }

    &__title {
        @include H3-pageheader-text-style;
        position: relative;

        &::after {
            // @mixin diagonal-line($width, $height, $color, $opacity)
            @include diagonal-line(3.56rem, 0.08rem, $gray-line, 0.3); //57px, 1.26px, $gray-line, 20% (upped to 30%)
            z-index: 10;
        }

        &--rotate45{
            &::after {
            transform: translate(-50%, -50%) rotate(45deg);
        }
        }
    }



    &__text {
        @include P2-pageheader-text-style;
        opacity: 40%;
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem 0;
    @include P3-buttons-text-style;

    &__button {
       @include button-styling;

      &:hover {
        background-color: $blue-button-hover; 
      }

    }

    &__icon {
        margin-left: 0.5rem;
        transition: margin-left 0.3s ease;
      }
  }
}

.footer-logo {
        margin-left: -63rem;
        margin-top: -47rem;
}