@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;


.team-page{
    &__background {
        background-size: cover;
        width: 100%;
        height: 25rem;
        position: absolute;
        top: 0;
        left: 0;
        clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%); // Adjust the percentage values to create the desired slant
        filter: brightness(0.6); // Darken the background image
        z-index: -200;
        pointer-events: none; // Prevent background from intercepting clicks

        @include tablet-breakpoint {
            height: 32rem;
            clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%); // Adjust the percentage values to create the desired slant
        
        }
    }

    &__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
    &__video{
        padding: 2rem;
        width: 100%;
        display: flex;
        justify-content: center;
        
        iframe {
            width: 100%;
            height: auto;
            max-width: 680px;
            aspect-ratio: 16/9;
    }
    }
}